body{
	background-color: #EEE;
}

.logo {
	width: 30%;
	min-width: 180px;
}

.logoNavBar {
	width: 45px;
}

.panel-login {
	max-width: 300px; 
	float: none;
    margin-left: auto;
    margin-right: auto;
}

.panel-addUser{
	max-width: 500px;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.login {
	width: 100%;
}

.addUser {
	width: 78%;
}

.limparUser {
	width: 20%;
}

.welcome {
    text-align: center;
    color: #446CB3;
    font-size: 28px; 
    margin-top: 10px;
}

.ages{
	color: #00ABA4; /* #FBB337 #5d4c70 #F89406 */
}

.panel-default > .panel-heading-custom{
  background-image: none;
  background-color: #00ABA4;
  color: #ffffff;
}

.panel-primary > .panel-heading {
  background-color: red!important;

	/* background-image:none;
	background-color: #00ABA4; !important;  */
	
}
.btn-primary{
	background: #00ABA4; 
	border-color:  #00ABA4;
}
.btn-primary:HOVER{
	background: #00e6da; 
	border-color:  #00e6da;
}

.red{
	color: red;
	font-weigth: bold
}

.modal-ages{
	color: #FFF;
	background-color: #296395;
}

.margin-top {
	margin-top: 20px;
}